<% if flash[:notice] %>
  <div class="alert alert-success">
    <%= flash[:notice] %>
  </div>
<% end %>

<section class="main-header">
  <p class="flash"><%= notice %><%= alert %></p>
</section>

<section class="about">
  <h1>いまどうしてる？</h1>
  <p>
     Achigramは、Achieveを参考に作成された、Instagram風アプリです。
  </p>
</section>

<section class="main-header">
  <p class="flash"><%= notice %><%= alert %></p>
  <img src="<%= asset_path "achigram.png" %>">
</section>

<div id="page-top-btn" class="page-top-btn">
    <p><a class="move-page-top" id="move-page-top">▲</a></p>
</div>
